body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-backgroud);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-container{
  display: grid;
  grid-template-columns: 1fr minmax(200px, 620px) minmax(120px, 280px) 1fr;
  grid-template-rows: fit-content(100%) fit-content(100%) auto;
  grid-gap: 30px;
}

header {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr minmax(200px, 620px) minmax(120px, 280px) 1fr;
  grid-gap: 10px
}

main {
  grid-column: 2/3;
}

aside {
  grid-column: 3/4;
}


@media only screen and (max-width: 768px) {
  #app-container {
    grid-template-columns: 1fr;

    grid-gap: var(--spacing-2);
  }

  header {
    grid-template-columns: 1fr minmax(140px, 100%) 1fr 1fr;
    grid-gap: var(--spacing-2);
  }

  aside {
    grid-column: 1;
    grid-row: 3;
    margin: 0 var(--spacing-2);
  }

  main {
    grid-column: 1;
    grid-row: 2;
    margin: 0 var(--spacing-2);
  }

  aside .card {
    /* height: 60px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}